:root {
  --red: #e12323;
  --gray: rgba(0, 0, 0, 0.3);
  --blue: rgb(0, 0, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  max-width: 100%;
  height: auto;
  padding-top: 90px;
  padding-bottom: 50px;
  background-image: url('../public/ella-olsson-4dQiaWKiL-Y-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

/**** HEADER AND FOOTER ****/
.header,
.footer {
  width: 100%;
  position: fixed;
  background: var(--red);
  padding: 20px;
  color: #fff;
}

.header {
  top: 0;
  background: var(--red);
}
.footer {
  bottom: 0;
}

/**** CONTAINER ****/
.container {
  width: 80%;
  margin: 0 auto;
}

/**** CHAT ****/
.chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 85vh;
  max-height: 500px;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-title {
  background: var(--gray);
  color: #fff;
  text-align: left;
  padding: 5px 0px;
}

.flex-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-bot {
  display: flex;
  align-items: center;
}

/* All figures with className which starts with avatar */
figure, div[class ^= "avatar"]{
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin: 8px 8px 8px 16px;
}

.avatar-bot {
  background-color: var(--red);
}

.avatar-user {
  background-color: var(--blue);
  order:2;
  align-self: flex-end;
}

.messages {
  flex: 1 1 auto;
  padding: 15px 0;
  overflow: scroll;
  background-color: white;
  opacity: 0.9;
}

.message-bot {
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: var(--gray);
  line-height: 1.4;
}

.message-user {
  padding: 6px 10px 7px;
  border-radius: 10px 10px 0 10px;
  background: var(--gray);
  line-height: 1.4;
}

.message-options {
  display: flex;
  background: var(--gray);
  padding: 15px;
  justify-content: space-around;
}

.message-options button {
  color: #fff;
  border: none;
  background: #248a52;
  padding: 6px 10px;
  border-radius: 10px;
}
